<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonMapper">
    <select id="findUserById" parameterType="pd" resultType="pd">
        select 
				u.id USER_ID,
				u.username USERNAME,
				c.id COMPANY_ID,
				c.name COMPANY_NAME
		 from user u
		left join company c on u.company_id = c.id
		where u.id = #{USER_ID}
    </select>
    <select id="listAllGoods" parameterType="pd" resultType="pd">
        select 
			g.id GOODS_ID,
			g.name GOODSNAME
		from goods g
		where g.company_id = #{COMPANY_ID}
    </select>
    <select id="listAllGoodsBatch" parameterType="pd" resultType="pd">
        select 
			c.id BATCH_ID,
			c.batch_name BATCHNAME
		 from code c
		where c.goods_id = #{GOODS_ID}
    </select>
    <select id="findInfoBy" parameterType="pd" resultType="pd">
        select 
			c.company_id COMPANY_ID,
			c.goods_id GOODS_ID,
			c.id BATCH_ID
		 from code_detail cd
		left join code c on cd.code_id = c.id
			where cd.code = #{CODE}
    </select>
</mapper>