<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DrawuserMapper">
    <!--表名 -->
    <sql id="tableName">
		drawuser
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		DRAWUSER_ID,
		PRIZEITEMS_ID,
		ACTIVITIES_ID,
		MEMBER_ID,
		CREATE_TIME,
		STATE
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{DRAWUSER_ID},
		#{PRIZEITEMS_ID},
		#{ACTIVITIES_ID},
		#{MEMBER_ID},
		#{CREATE_TIME},
		#{STATE}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	CREATE_TIME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        <if test="pd.ACTIVITIES_ID != null and pd.ACTIVITIES_ID != ''"><!-- 关键词检索 -->
            and ACTIVITIES_ID = #{pd.ACTIVITIES_ID}
        </if>
        <if test="pd.STATE != null and pd.STATE != ''"><!-- 关键词检索 -->
            and STATE = #{pd.STATE}
        </if>
        order by DRAWUSER_ID ASC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
	        du.DRAWUSER_ID,
			du.PRIZEITEMS_ID,
			du.ACTIVITIES_ID,
			du.MEMBER_ID,
			du.CREATE_TIME,
			du.STATE,
			p.DESCRIPTION,
			p.IMAGE_PATH
        from
        <include refid="tableName"></include> du
        left join prizeitems p on du.prizeitems_id = p.prizeitems_id
         where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	du.CREATE_TIME LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        <if test="ACTIVITIES_ID != null and ACTIVITIES_ID != ''"><!-- 关键词检索 -->
            and du.ACTIVITIES_ID = #{ACTIVITIES_ID}
        </if>
         <if test="MEMBER_ID != null and MEMBER_ID != ''"><!-- 关键词检索 -->
            and du.MEMBER_ID = #{MEMBER_ID}
        </if>
        <if test="DAYSTR != null and DAYSTR != ''"><!-- 关键词检索 -->
            and du.CREATE_TIME LIKE CONCAT(#{DAYSTR},'%')
        </if>
        <if test="STATE != null and STATE != ''"><!-- 关键词检索 -->
            and du.STATE = #{STATE}
        </if>
        order by du.DRAWUSER_ID ASC
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="DRAWUSER_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        DRAWUSER_ID = #{DRAWUSER_ID}
        where
        DRAWUSER_ID = #{DRAWUSER_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        DRAWUSER_ID = #{DRAWUSER_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        DRAWUSER_ID = #{DRAWUSER_ID}
    </select>
</mapper>