<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
    <!--表名 -->
    <sql id="tableName">
		member
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		MEMBER_ID,
		OPENID,
		NICKNAME,
		PHOTO,
		SEX,
		CDT,
		COMPANY_ID
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{MEMBER_ID},
		#{OPENID},
		#{NICKNAME},
		#{PHOTO},
		#{SEX},
		#{CDT},
		#{COMPANY_ID}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        <if test="pd.COMPANY_ID != null and pd.COMPANY_ID != ''"><!-- 关键词检索 -->
            and COMPANY_ID = #{pd.COMPANY_ID}
        </if>
        order by MEMBER_ID DESC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
         where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	DESCRIPTION LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        <if test="COMPANY_ID != null and COMPANY_ID != ''"><!-- 关键词检索 -->
            and COMPANY_ID = #{COMPANY_ID}
        </if>
        order by MEMBER_ID DESC
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="MEMBER_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        MEMBER_ID = #{MEMBER_ID}
        <if test="NICKNAME != null and NICKNAME != ''">
            ,NICKNAME = #{NICKNAME}
        </if>
        <if test="PHOTO != null and PHOTO != ''">
            ,PHOTO = #{PHOTO}
        </if>
        <if test="SEX != null and SEX != ''">
            ,SEX = #{SEX}
        </if>
        where
        MEMBER_ID = #{MEMBER_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        MEMBER_ID = #{MEMBER_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        MEMBER_ID = #{MEMBER_ID}
    </select>
    
    <select id="findBy" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="OPENID != null and OPENID != ''">
            and openid = #{OPENID}
        </if>
        limit 0,1
    </select>
</mapper>