<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MerchantMapper">
    <!--表名 -->
    <sql id="tableName">
		merchant
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		MERCHANT_ID,
		COMPANY_ID,
		APPID,
		APPSECRET,
		MCHID,
		MCHKEY,
		MCHCERT,
		UPDATE_TIME
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{MERCHANT_ID},
		#{COMPANY_ID},
		#{APPID},
		#{APPSECRET},
		#{MCHID},
		#{MCHKEY},
		#{MCHCERT},
		#{UPDATE_TIME}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	UPDATE_TIME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        order by MERCHANT_ID ASC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
         where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	UPDATE_TIME LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        order by MERCHANT_ID ASC
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="MERCHANT_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        MERCHANT_ID = #{MERCHANT_ID}
        <if test="APPID != null and APPID != ''">
            ,APPID = #{APPID}
        </if>
        <if test="APPSECRET != null and APPSECRET != ''">
            ,APPSECRET = #{APPSECRET}
        </if>
        <if test="MCHID != null and MCHID != ''">
            ,MCHID = #{MCHID}
        </if>
        <if test="MCHKEY != null and MCHKEY != ''">
            ,MCHKEY = #{MCHKEY}
        </if>
        <if test="MCHCERT != null and MCHCERT != ''">
            ,MCHCERT = #{MCHCERT}
        </if>
        <if test="UPDATE_TIME != null and UPDATE_TIME != ''">
            ,UPDATE_TIME = #{UPDATE_TIME}
        </if>
        where
        MERCHANT_ID = #{MERCHANT_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        MERCHANT_ID = #{MERCHANT_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        MERCHANT_ID = #{MERCHANT_ID}
    </select>
    
    <select id="findBy" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="COMPANY_ID != null and COMPANY_ID != ''">
            and COMPANY_ID = #{COMPANY_ID}
        </if>
        limit 0,1
    </select>
</mapper>