<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PrizeitemsMapper">
    <!--表名 -->
    <sql id="tableName">
		prizeitems
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		PRIZEITEMS_ID,
		COMPANY_ID,
		IMAGE_PATH,
		DESCRIPTION,
		SAMEMONEY,
		CREATE_TIME,
		CREATE_USER
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{PRIZEITEMS_ID},
		#{COMPANY_ID},
		#{IMAGE_PATH},
		#{DESCRIPTION},
		#{SAMEMONEY},
		#{CREATE_TIME},
		#{CREATE_USER}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	DESCRIPTION LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        <if test="pd.COMPANY_ID != null and pd.COMPANY_ID != ''"><!-- 关键词检索 -->
            and COMPANY_ID = #{pd.COMPANY_ID}
        </if>
        order by PRIZEITEMS_ID DESC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
         where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	DESCRIPTION LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        order by PRIZEITEMS_ID DESC
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="PRIZEITEMS_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        PRIZEITEMS_ID = #{PRIZEITEMS_ID}
        <if test="DESCRIPTION != null and DESCRIPTION != ''">
            ,DESCRIPTION = #{DESCRIPTION}
        </if>
        <if test="IMAGE_PATH != null and IMAGE_PATH != ''">
            ,IMAGE_PATH = #{IMAGE_PATH}
        </if>
        <if test="SAMEMONEY != null and SAMEMONEY != ''">
            ,SAMEMONEY = #{SAMEMONEY}
        </if>
        where
        PRIZEITEMS_ID = #{PRIZEITEMS_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        PRIZEITEMS_ID = #{PRIZEITEMS_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        PRIZEITEMS_ID = #{PRIZEITEMS_ID}
    </select>
</mapper>